@tailwind base;
@tailwind components;
@tailwind utilities;


.disabled-link {
    color: grey;
    cursor: not-allowed;
    text-decoration: none;
}

.pagination {
    justify-content: center;
}

.pagination .page-item .page-link {
    color: #007bff;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


